<!DOCTYPE html>
<html>
<head>
  <title>Treebook</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>



	<div class="container">
		<div class="navbar">
	 		<div class="navbar-inner">
			<a class="brand" href="#">treebook</a>
			<ul class="nav">
			  <li><%= link_to "All Statuses", statuses_path %></li>
			</ul>
	  		</div>
		</div>
	
		<%= yield %>

	</div>
</body>
</html>
